.input {
    background-color: lightgrey;
    height: 38px;
    padding: 0.375rem 0.75rem;
    border-radius: 4px;

    &--focused {
        background-color: white;
        border: 1px solid lightblue;
    }
}