$brand-blue-very-light: #C1D1EC;
$brand-blue-light: #6E94D2;
$brand-blue: #3066be;
$brand-blue-dark: #2453AF;
$brand-blue-very-dark: #133899;

$brand-navy-very-light: #BFC1C7;
$brand-navy-light: #696E7C;
$brand-navy: #283044;
$brand-navy-dark: #1E2435;
$brand-navy-very-dark: #0F131F;

$brand-teal-very-light: #B8E2E4;
$brand-teal-light: #58BABF;
$brand-teal: #119da4;
$brand-teal-dark: #0C8B92;
$brand-teal-very-dark: #056F78;

$brand-lavender-very-light: #D4D5F2;
$brand-lavender-light: #9A9DE0;
$brand-lavender: #6f73d2;
$brand-lavender-dark: #5C60C7;
$brand-lavender-very-dark: #4043B6;

$brand-gray-very-light: #F9FCFA;
$brand-gray-light: #F1F8F3;
$brand-gray: #ebf5ee;
$brand-gray-dark: #E5F2E9;
$brand-gray-very-dark: #DDEEE2;

$gray-very-light: #F5F5F5;
$gray-light: #E0E0E0;
$gray: #9E9E9E;
$gray-dark: #616161;
$gray-very-dark: #212121;

$bluegray-very-light: #CFD8DC;
$bluegray-light: #90A4AE;
$bluegray: #607D8B;
$bluegray-dark: #455A64;
$bluegray-very-dark: #263238;
