@import "../../../../sass/variables.scss";

.review-options__option {
    flex: 0 0 30%;
    position: relative;
    border: 1px solid #d4deee;
    border-radius: 4px;

    label {
        width: 100%;
        height: 100%;
        padding: 15px;
        cursor: pointer;
    }

    &--selected {
        background-color: $brand-teal;
        color: white;
    }
}