@import "../../../../sass/variables.scss";

.answerTextarea {
    resize: none;
    height: 150px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid $gray-light;
    padding: 8px 12px;
    color: $gray-dark;
    background-color: #f7f7f7;
    margin-bottom: 24px;

    &--focused {
        background-color: white;
    }
}