@import "../../../../sass/variables.scss";

.topBar {
    align-items: center;
    border-bottom: 2px solid $gray-light;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 50px;
}