.imageContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 36px;

    &__image {
        height: 150px;
        width: 250px;
        background-size: cover;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 16px;
    }
}

.answer {
    margin-bottom: 16px;
    width: 300px;
}