@import "../../../../sass/variables.scss";

.studyContainer {
    padding: 50px;  
    height: calc(100vh - 250px);
    display: flex;
    justify-content: center;

    .study {
        flex: 0 0 750px;
    }
}