@import "../../../../../sass/variables.scss";

.progressContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &__icon {
        flex: 0 0 24px;
        font-size: 24px;
        margin-right: 8px;
        color: lightgrey;
        cursor: pointer;
    }

    &__bar {
        flex: 1 0 calc(100% - 32px);
    }
}

.progressMeta {
    display: flex;
    justify-content: center;

    &__text {
        font-weight: bold;
        color: $brand-lavender;
    }
}

.buttons {
    margin-top: 24px;
}