@import "../../../sass/variables.scss";

.bg {
    background-color: $brand-navy;
}

.navigation {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    min-height: 65px;

    &__brand {
        position: absolute;
        left: 0;
        top: 15px;
        bottom: 15px;


        &__text {
            display: none;
            margin-left: 15px;
        }
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        &__hamburger {
            align-items: center;
            display: flex;
            flex: 1 0 100%;
            justify-content: flex-end;
        }

        &__list {
            display: none;
            padding: 0;
            flex-direction: column;
            align-items: center;
            list-style: none;
        }

        &--expanded {
            .navigation__nav__list {
                display: flex;
            }
        }
    }
}

@media (min-width: 426px) {
    .navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__brand {
            display: block;
            position: initial;

            &__text {
                display: inline;
            }
        }

        &__nav {
            justify-content: start;
            padding-left: 50px;
            align-items: center;

            &__hamburger {
                display: none;
            }

            &__list {
                display: flex;
                flex-flow: row nowrap;
                margin: 0;

                &__item {
                    margin-left: 24px;
                }
            }
        }
    }
}

@media (min-width: 769px) {

}


.brand {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 15px;
}

.hamburger {
    background: none;
    border: none;
    display: none;
}

.mobileMenu {
    display: block;
}

@media (max-width: 425px) {
    .logoText {
        display: none;
    }
    .hamburger {
        display: block;
    }
}