.bottomBar {
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &--correct {
        background-color: #5cb85c;
    }

    &--incorrect {
        background-color: #d9534f;
    }

    &__container {
        display: flex;
    }

    .rating {
        display: flex;
        flex-flow: row wrap;
        flex: 1 0 50%;
        justify-content: flex-end;

        &__text {
            flex: 1 0 100%;
            text-align: right;
        }

        &__easy,
        &__normal,
        &__challenging {
            margin: 0 8px;
        }
    
        &__normal {
            border: 1px solid lightgray;
        }
    }
}