.imageContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 36px;

    &__image {
        height: 150px;
        width: 250px;
        background-size: cover;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 16px;
        border-radius: 2.5px;

        &:not(.imageContainer__image--correct):not(.imageContainer__image--incorrect):hover {
            border: 5px solid cornflowerblue;
            cursor: pointer;
        }

        &--correct {
            border: 5px solid #5cb85c;
        }

        &--incorrect {
            border: 5px solid #dc3545;
        }
    }
}

.answer {
    margin-bottom: 16px;
    width: 300px;
}