@import "../../../../../../sass/variables.scss";

.progressBar {
    height: 16px;
    border-radius: 8px;
    background-color: rgb(229, 229, 229);
    position: relative;

    &__progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 16px;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(64,67,182,1) 0%, rgba(111,115,210,1) 100%);
    }
}